body{
      text-align: center;
      background-color:#E4F6F6;
      margin:0;
      font-family: 'Merriweather', serif;

}

.topdiv{
          padding-top:50px;

}

.middlediv{
            padding-top:100px;
}

h2{
     font-size: 2.5rem;
     color: #66BFBF;
     font-family: 'Montserrat', sans-serif;
}

h1{

    line-height: 2;
    font-size: 100px;
    font-family: 'Sacramento' , sans-serif;
    margin:50px auto 0 auto;
}

hr{
    width:20%;
}

h3{
     color:#11999E;
     font-family: 'Montserrat', sans-serif;
}

.cloud1{
          position:relative;
          left:300px;
          top:50px;
}
.cloud2{
          position:absolute;
}
a{
    color:#11999E;
}
.Human{
        font-weight: normal;
}
.mountain{
            position:relative;
            top:115px;
}
.naman{
  margin-top:60px;
  border-radius:50%;
}
hr{
    border-style: dotted none none none;
    width:4%;
    border-width:8px;
    color: grey;
}
.bottomcontainer{
    background-color: #66BFBF;
    margin:0;
    padding:20px;
    margin-top:25px;

}
.endline{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding:10px 0;
}

.chess{
    width:200px;
    float:right;
}
p{
    color:#40514E;
    line-height:2;
}
.css{
    width:200px;
    float:left;
    margin-right:30px;
    margin-bottom:50px;
}

.sdiv{
  width:50%;
  margin:100px auto;
  text-align:left;

}

.hdiv{
  width:50%;
  margin:100px auto;
  text-align:left;
}
.intro:{
    line-height: 2;

}
.profile{
    padding:25px;
}
.skills{
    padding:25px;
}
.contact{
    margin-top:70px;
    padding-bottom:50px;
}
.closing{
    margin-top:25px;
    margin-bottom:70px;
}
.footer-link{
    color:#11999E;
    margin:10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.footer-link:hover{
    color:#EAF6F6;

}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
